/* css file for Jane's Portfolio */
*{
    /* outline: 1px dotted red; */
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    width: 900px;
    padding: 15px;
    background-image: radial-gradient(rgb(111, 89, 100),rgb(111, 89, 100), rgb(27, 11, 15));
}

.banner{
    width: 930px;
    min-height: 39px;
    background-color: rgba(246, 246, 246, 0.986);
    text-align: none;
}
    .banner h1{
        width: 48%;
        margin-left: 28px;
        display: inline-block;
        font-family: 'Courier New', Courier, monospace;
    }
    .banner h4{
        background-image: none;
        color: black;
        width: 391px;
        display: inline-block;
        text-align: right;
    }

.top{
    min-height: 39px;
    background-color: transparent;
    margin-top: 10px;
    margin-left: 15px;
}
    .top img{
        background-color: rgb(192, 192, 192);
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 408px;
        height: 55%;
    }
    .top .square{
        width: 410px;
        height: 280px;
        text-align: left;
        vertical-align: top;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 10px;
        padding-bottom: 0px;
    }

    .top a{
        color: black;
        margin: 10px;
        display: block;
    }


.main_content{
    min-height: 39px;
    background-color:transparent;
    padding: 15px;
}

.square{
    min-height: 39px;
    margin-right: 18px;
    display: inline-block;
    padding-right: 7px;
    padding-bottom: 20px;
    width: 30%;
    vertical-align: top;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(219, 204, 218));
}

    .square .topimg{
        max-width: 268px;
    }

    .square p{
        padding: 7px;
        min-height: 197px;
    }

    .square .bottomLink{
        padding: 5px;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        border: 1px solid black;
        background-color: rgb(52, 93, 44);
        border-radius: 11px;      
        box-shadow: 10px 10px 8px 1px #100;
    }

.linkBlock{
    background-color: transparent;
    width: 95%;
    max-height: 45px;
    text-align: center;
    margin: 5px 0px;
}
.allIcons{
    height: 175px;
}
.icons{
    padding: 5px;
    margin-left: 5px;
    width: 46px;
    max-height: 40px;
}

.footer{
    width: 930px;
    min-height: 39px;
    background-color: rgba(246, 246, 246, 0.986);
    text-align: center;
    padding: 15px 0px;
}

    .socialLinks a{
        text-align: center;
        text-decoration: none;
        color: black;
        vertical-align: middle;
        margin-top: 10px;
        display: inline-block;
    }
    .socialLinks img{
        display: inline-block;
        margin-top: 5px;
        vertical-align: top;
        width: 25px;
    }
.socialLinks{
    display: inline-block;
    vertical-align: top;
    width: 110px;
}

h4{
    color: white;
    background-image: linear-gradient(rgb(176, 175, 180), rgb(139,138,150), rgb(176, 175,180));
    width: 99%;
    text-align: left;
    font-family: sans-serif;
    padding: 5px;
}
